
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'MovieTicketBooking/main.css' %}">
  <title>Ganesh Booking</title>
</head>
<body>
  <!-- Header -->
  {% if admin %}
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#"><h1><span>G</span>anesh <span>B</span>ooking</h1></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>
            <li><a href="{% url 'add-movie'%}" data-after="Home">Add</a></li>
            <li><a href="{% url 'remove-movie'%}" data-after="Service">Remove</a></li>
            <li><a href="{% url 'update-movie'%}" data-after="Service">Update</a></li>            
            <li><a href="{% url 'logout' %}" data-after="Projects">Logout</a></li>
           
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  
  {% else %}
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="{% url 'home'%}"><h1><span>G</span>anesh <span>B</span>ooking</h1></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>
            <li><a href="{% url 'home'%}" data-after="Home">Home</a></li>
            <li><a href="{% url 'Theater_Display'%}" data-after="Service">Theaters</a></li>
            <li><a href="{% url 'logout' %}" data-after="Projects">Logout</a></li>
           
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->
  {% endif %}


        {% block content %}
        {% endblock content %}
		  

 <!-- Contact Section -->
 <section id="contact">
    <div class="contact container">
      <div><h1 class="section-title">Contact <span>info</span></h1></div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png"/></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+91 9787076288</h2>
            <h2>+91 9080303328</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png"/></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>ganesh.veeramani@aspiresys.com</h2>
            <h2>abcd@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png"/></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>1/D-1, SIPCOT IT PARK
                Siruseri, Chennai - 603 103
                Tamil Nadu, India</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand"><h1><span>G</span>anesh <span>B</span>ooking</h1></div>
      <h2>A Great Place To Book Your Tickects</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png"/></a>
        </div>
      </div>
      <p>Copyright © 2020 Arfan. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  
  
</body>
</html>
