{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Page</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'MovieTicketBooking/register.css">


</head>
<body>

   
<div id="login-box">
    <div class="left">
      <h1>Sign up</h1>
      <form action='' method="POST">
        {% csrf_token %}
        USername:{{ form.username}}
        Email:{{ form.email}}
        Password:{{ form.password1}}
        Re-type Password:{{ form.password2}}
       

      <input type="submit" name="signup_submit" value="Sign me up" />  

      </form>
    </div>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
      <a  class="social-signin google" href="{% url 'login' %}">Login Here</a>
    </div>
    <div class="or">OR</div>
  </div>

</body>
</html>
