
{% extends 'MovieTicketBooking/basetemplate.html' %}


{% block content %}
<section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Remove <span>Movies</span></h1>
      </div>
      <!-- forloop -->
      {% for Movies in movie %}
      <div class="all-projects">
    <form action="" method="POST">
        {% csrf_token %}
        
        <div class="project-item">
          <div class="project-info">
            <h1>{{Movies.name}}</h1>
            <h2>{{Movies}}</h2>
            <p></p>
          </div>
          <div class="project-img">
            <img src="{{Movies.movie_image.url}}" alt="img">
          </div>
          <br><br>
          
        </div>
                   <button type="submit" name="name" value='{{Movies.name}}' >Remove</button>

    </form>
      </div>
      {% endfor %}
      <!-- endfor -->
    </div>
  </section>
{% endblock content %}